[user]
	name = Roberto
	email = telmox@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	tool = opendiff
[core]
	legacyheaders = false
[repack]
	usedeltabaseoffset = true
[format]
	  pretty = %Cblue%h%Creset %Cgreen[%cr]%Creset (%an) %s
[alias]
	ci = commit
	co = checkout
	st = status
	ch = cherry -v origin
	hub = push origin master
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[push]
	default = tracking
[github]
	user = Telmo
[diff "ruby"]
	funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)
[core]
	pager = most +s +'/---'
	excludesfile = ~/.gitignore
	autocrlf = input
